In [3]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [5]:
df = pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/Student_Marks.csv")
df

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [15]:
y = df[["Marks"]]
x = df.drop(["Marks"],axis=1)

In [26]:
l = LinearRegression()
model = l.fit(x,y)

In [28]:
model.predict([[3,3.2]])

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[15.41317812]])

In [30]:
df.Marks.max()

55.299

In [34]:
model.score(x,y)

0.9403656320238896