In [11]:
import pandas as pd
import numpy as np

In [5]:
l = [1,2,39,97,90]
l

[1, 2, 39, 97, 90]

In [9]:
df = pd.DataFrame(l, columns = ["değişke_ismi"])
df

   değişke_ismi
0             1
1             2
2            39
3            97
4            90

In [13]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
df = pd.DataFrame(m, columns = ["a","b","c"])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Sütun İsimleri Değiştirme

In [23]:
df.columns = ("değ1","değ2","değ3")
df

   değ1  değ2  değ3
0     1     2     3
1     4     5     6
2     7     8     9

In [25]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['değ1', 'değ2', 'değ3'], dtype='object')]

In [27]:
df.shape

(3, 3)

In [29]:
df.size

9

In [31]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [33]:
df.keys

<bound method NDFrame.keys of    değ1  değ2  değ3
0     1     2     3
1     4     5     6
2     7     8     9>