In [5]:
import pandas as pd 
import numpy as np

In [7]:
s1 = np.random.randint(10,size=5)
s2 = np.random.randint(10,size=5)
s3 = np.random.randint(10,size=5)

In [9]:
sozluk = {"var1":s1 ,"var2":s2,"var3":s3}
df = pd.DataFrame(sozluk)
df

   var1  var2  var3
0     0     2     4
1     3     8     1
2     3     7     8
3     8     2     4
4     4     4     3

In [11]:
df.index = ["a","b","c","d","e"]
df

   var1  var2  var3
a     0     2     4
b     3     8     1
c     3     7     8
d     8     2     4
e     4     4     3

In [13]:
df.drop("a",axis=0, inplace = True)
df

   var1  var2  var3
b     3     8     1
c     3     7     8
d     8     2     4
e     4     4     3

In [21]:
df["var2"] = df["var1"] * df["var3"]
df["var2"]

b     3
c    24
d    32
e    12
Name: var2, dtype: int32