loc 
iloc

In [16]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30 , size =(10,3))
df = pd.DataFrame(m , columns=["var1","var2","var3"])
df

   var1  var2  var3
0    14    23    18
1    24     5    25
2    21    20    10
3    22    17    15
4    29     3    25
5    14     2    15
6    15    12     7
7     3    27    21
8     9     1     5
9    11     6    22

In [18]:
#loc : tanımlandığı şekil ile seçim yapmak için kullanılır

In [20]:
df.loc[0:3]

   var1  var2  var3
0    14    23    18
1    24     5    25
2    21    20    10
3    22    17    15

In [22]:
df.iloc[0:3]

   var1  var2  var3
0    14    23    18
1    24     5    25
2    21    20    10

In [40]:
df.loc[0:3 , "var3"]

0    18
1    25
2    10
3    15
Name: var3, dtype: int32

In [42]:
df.iloc[0:3]["var3"] # alışıla gelmiş sıralama mantığı

0    18
1    25
2    10
Name: var3, dtype: int32