In [1]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30 , size =(10,3))
df = pd.DataFrame(m , columns=["var1","var2","var3"])
df

   var1  var2  var3
0    29     3    28
1    19    25    20
2    19    29    11
3    27     6    12
4    11    22     1
5     4    26    26
6    10    25     3
7    15     2    28
8     6    20    29
9    16    19    26

In [15]:
df[["var1","var3"]][0:6]

   var1  var3
0    29    28
1    19    20
2    19    11
3    27    12
4    11     1
5     4    26

In [23]:
df[(df.var1 > 15)&(df.var1<25)]["var1"]

1    19
2    19
9    16
Name: var1, dtype: int32