In [1]:
import pandas as pd

In [17]:
calisanlar = ["Ali","Veli","Ayse","Fatma"]
meslek = ["Muhasebe","Muhendislik","Muhendislik","İK"]

In [21]:
df = pd.DataFrame({"Çalışanlar":calisanlar,"Meslekler":meslek})
df

  Çalışanlar    Meslekler
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK