In [55]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [57]:
df = pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [59]:
df = pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True).astype(int)
df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27,0,16884,0,1,0,0,1
1,18,33,1,1725,1,0,0,1,0
2,28,33,3,4449,1,0,0,1,0
3,33,22,0,21984,1,0,1,0,0
4,32,28,0,3866,1,0,1,0,0

In [67]:
y = df["charges"]
x = df.drop("charges",axis=1)

In [81]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=16,train_size=0.70)

In [83]:
lm = LinearRegression()
model_lm = lm.fit(x_train,y_train)
model_lm.score(x_test,y_test)

0.7339641964656051

In [85]:
rf = RandomForestRegressor()
model_rf = rf.fit(x_train,y_train)
model_rf.score(x_test,y_test)

0.828007326909181