In [7]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [9]:
df=pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
y=df["target"]
x=df.drop("target",axis=1)

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.70,random_state=42)

In [34]:
dt=DecisionTreeClassifier()
model=dt.fit(x,y)
model.score(x,y)

1.0

In [46]:
model=dt.fit(x_train,y_train)
model.score(x_test,y_test)

0.8131868131868132

In [44]:
dt=RandomForestClassifier(n_estimators=200)
model=dt.fit(x_train,y_train)
model.score(x_test,y_test)

0.8241758241758241

In [42]:
x=xgb.XGBClassifier()
model=x.fit(x_train,y_train)
model.score(x_test,y_test)

0.8131868131868132