In [1]:
import pandas as pd

In [61]:
df = pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/kullanicilar.csv")
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,NaN,ayse@example.com,2025-01-02 12:33,red,"""""[]""""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,NaN,purple,NaN,True,Bursa,asd2

In [63]:
df.isnull().sum()

user_id             0
name                0
age                 1
email               0
last_login          1
fav_color           0
purchase_history    1
is_active           0
city                0
extra_column        0
dtype: int64

In [65]:
df.dropna() # verileri

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv