In [364]:
import pandas as pd

In [366]:
df = pd.read_csv("C:/Users/Dell/Desktop/Yazılım/Jupyter Notebook/Veriler/kullanicilar.csv")
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,NaN,ayse@example.com,2025-01-02 12:33,red,"""""[]""""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,NaN,purple,NaN,True,Bursa,asd2

In [368]:
df.isnull().sum()

user_id             0
name                0
age                 1
email               0
last_login          1
fav_color           0
purchase_history    1
is_active           0
city                0
extra_column        0
dtype: int64

In [370]:
df.dropna() # verilerdeki bilinmeyenin olduğu satırları atar

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv

In [372]:
df.fillna("bilinmiyor") # NaN yerine istenilen şeyleri yazar

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,bilinmiyor,ayse@example.com,2025-01-02 12:33,red,"""""[]""""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,bilinmiyor,purple,bilinmiyor,True,Bursa,asd2

In [374]:
df["age"].fillna(df["age"].mean()) # NaNları ortalamayla doldurur , metot değiştirilerek doldurulacak veri değiştirilebilir

0    28.5
1    34.0
2    23.0
Name: age, dtype: float64

In [376]:
df["age"] = df["age"].fillna(df["age"].mean())

In [378]:
df["last_login"] = df["last_login"].fillna(df["last_login"].mode()[0])
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""""[]""""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,NaN,True,Bursa,asd2

In [380]:
df["purchase_history"] = df["purchase_history"].fillna('""[]""')
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""""[]""""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""""['shoes']""""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""""[]""""",True,Bursa,asd2

In [382]:
df["purchase_history"] = df["purchase_history"].map({'""[]""':'"[]"',"""['shoes']""":'"["shoes"]"'})
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""[]""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,NaN,True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""[]""",True,Bursa,asd2

In [384]:
df["purchase_history"] = df["purchase_history"].fillna('"["shoes"]"')
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city,extra_column
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""[]""",False,Ankara,qwer
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""[""shoes""]""",True,İzmir,zxcv
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""[]""",True,Bursa,asd2

In [386]:
df.drop("extra_column",axis = 1,inplace=True)
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""[]""",False,Ankara
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""[""shoes""]""",True,İzmir
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""[]""",True,Bursa

In [388]:
df["is_active"] = df.is_active.map({False: 0, True: 1})
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""[]""",0,Ankara
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""[""shoes""]""",1,İzmir
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""[]""",1,Bursa

# Düzenlenmiş Veri Seti

In [390]:
df

,user_id,name,age,email,last_login,fav_color,purchase_history,is_active,city
0,2,Ayşe Yılmaz,28.5,ayse@example.com,2025-01-02 12:33,red,"""[]""",0,Ankara
1,3,Can D.,34.0,can@example.com,2024-11-11 08:00,yellow,"""[""shoes""]""",1,İzmir
2,5,Ahmet K.,23.0,ahmet@example.com,2024-11-11 08:00,purple,"""[]""",1,Bursa